Contacts/packages/*
.vs
android
Contacts/Contacts/Contacts.Android/bin/*
Contacts/Contacts/Contacts.Android/obj/*
Contacts/Contacts/Contacts.iOS/obj/*
Contacts/Contacts/Contacts.iOS/bin/*
Contacts/Contacts/Contacts/bin/*
Contacts/Contacts/Contacts/obj/*
Contacts/Contacts/Contacts/obj/Debug
Contacts/Contacts/Contacts/bin/Debug
